* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Manrope", sans-serif;
}

button {
    background: transparent;
    cursor: pointer;
}

html {
    font-size: 63%;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    color: $color-light--2;
    font-weight: 400;
    line-height: 1.6;
    overscroll-behavior-y: none;
    background-color: $color-bright;
}

a:link,
a:visited {
    color: $color-brand--1;
}

.logo {
    height: 5.2rem;
    align-self: center;
    margin-bottom: 3rem;
}

.swal2-popup {
    font-size: 1.5rem;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $background;
    display: none;
    place-items: center;
    z-index: 10;
    // display: none;

    &::before {
        content: "";
        width: 48px;
        height: 48px;
        border: 4px solid $on-background;
        border-block-start-color: transparent;
        border-radius: $radius-circle;
        animation: loading 0.5s linear infinite;
    }
}