
.footer {
    @include flex(center, center);
    gap: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    color: $color-light--1;
    margin-bottom: 30px;

    .link:link,
    .link:visited {
        @include flex(center, center);
    }

    .api__logo {
        transition: 0.7s all;
        animation: leafanim 3s ease 3s 1 normal none;
        width: 80px;

        &:hover,
        &:focus {
            filter: hue-rotate(-70deg) saturate(1.5);
        }
    }
}