.form {
    background-color: $color-dark--2;
    box-shadow: $box-shadow-1;
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;
    height: 9.25rem;
    transition: all 0.5s, transform 1ms;

    &.hidden {
        transform: translateY(-30rem);
        height: 0;
        padding: 0 2.25rem;
        margin-bottom: 0;
        opacity: 0;
    }

    .form__row {
        @include flex(center, null);

        .form__label {
            flex: 0 0 50%;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .form__row--hidden {
        display: none;
    }

    .form__btn {
        display: none;
    }
}