@mixin flex($align, $justify) {
    display: flex;

    @if $align==null {
        justify-content: $justify;
    }

    @else {
        align-items: $align;
        justify-content: $justify;
    }

    @if $justify==null {
        align-items: $align;
    }

    @else {
        align-items: $align;
        justify-content: $justify;
    }
}

@mixin flex-direction($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin sm {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: 992px) {
        @content;
    }
}
@mixin xl {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}