.wrapper {
    position: relative;
    @include flex-direction(row);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    // @include md {
    //     flex-direction: column;
    // }


    .sidebar {
        @include flex-direction(column);
        flex-basis: 59rem;
        background-color: $color-dark--1;
        padding: 3rem 5rem 2rem 5rem;
        box-shadow: $box-shadow-2;
        width: 200px;

        @include md {

        }

        @include xl {
            flex-basis: 48rem;
        }

        @include lg {
            flex-basis: 40rem;
        }
    }
}