$color-brand--1: #ffb545;
$color-brand--2: #00c46a;
$color-brand--3: #fe0000;
$color-dark--1: #2d3439;
$color-dark--2: #42484d;
$color-bright: #fff;
$color-dark: #333;
$color-light--1: #aaa;
$color-light--2: #ececec;
$color-light--3: rgb(214, 222, 224);
$box-shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-2: rgba(0, 0, 0, 0.19) 0px 10px 20px,
rgba(0, 0, 0, 0.23) 0px 6px 6px;
$box-shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15;
$box-shadow-4: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
$on-background: #EAE6F2;
$background: #131214;
$radius-circle: 50%;