.workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;


    &::-webkit-scrollbar {
        width: 0;
    }

    .workout--running {
        border-left: 5px solid $color-brand--2;
    }

    .workout--cycling {
        border-left: 5px solid $color-brand--1;
    }

    .workout {
        position: relative;
        width: 100%;
        background-color: $color-dark--2;
        border-radius: 5px;
        padding: 1.5rem 2.25rem;
        margin: 2rem 0;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.75rem 1.5rem;
        transition: all 0.2s ease;
        box-shadow: $box-shadow-1;
        z-index: 10;

        @include xl {
            grid-template-columns: 2fr 2fr;
        }


        &:hover {
            box-shadow: $box-shadow-3;
            transform: translateY(-5px);
        }

        .workout__title {
            font-size: 1.7rem;
            font-weight: 600;
            grid-column: 1 / -1;
            @include flex(center, space-between);
        }

        .workout__details {
            @include flex(baseline, null);

            .workout__icon {
                font-size: 1.8rem;
                margin-right: 0.2rem;
                height: 0.28rem;
            }

            .workout__value {
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }

            .workout__unit {
                font-size: 1.1rem;
                color: $color-light--1;
                text-transform: uppercase;
                font-weight: 800;
            }
        }
    }

}